.dashboard-wrapper {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
  padding: 16px;
}

.user-welcome-wrapper {
  color: var(--secondary-blue);
  line-height: 1.1;
  margin-bottom: 20px;
}

.family-details-wrapper {
  margin-top: 20px;
}

.dividers {
  color: var(--secondary-blue);
}
