.appointment-wrapper {
  outline: 1px solid red;
  width: 100vw;
  padding: 16px;
  padding-top: 5vh;
  height: calc(100vh - 60px);
  overflow-y: none;
}

.stepper-wrapper {
  outline: 1px solid red;
}

.apt-1-tag {
  color: var(--secondary-blue);
}

.apt-1-help {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 10px;
  text-decoration: underline;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  max-width: 380px !important;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-title {
  color: var(--secondary-blue);
}

.modal-details {
  color: grey;
  margin-bottom: 15px;
  font-size: 12px;
}

.modal-tf {
  margin-bottom: 5px;
  width: 100%;
}

.div {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: calc(80vh - 180px); */
  flex-direction: column;
  min-height: 60vh;
  /* outline: 1px solid red; */
}

.day-wrapper {
  background-color: var(--accent-blue);
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 0px 10px;
}

.d-wrapper {
  /* margin: 10px; */
  height: 40px;
  /* padding: 5px; */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
  /* outline: 1px solid black; */
  /* border-radius: 5px; */
}

.selected-day {
  font-weight: bold;
}

.not-selected-day {
  color: rgb(136, 127, 127);
  /* display: none; */
}

.add-details {
  margin-bottom: 10px;
}

.add-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 140px;
  border-radius: 20px;
  backdrop-filter: blur(30px);
}

.map-button {
  padding: 10px;
  width: 80%;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--secondary-blue);
  color: white;
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector {
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--accent-blue);
  border-radius: 5px;
  /* -webkit-appearance: none; */
}

.slot-selector-wrapper {
  width: 100%;
}

.selector-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}

.btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.btn {
  width: 100%;
  margin-top: 50px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--secondary-blue);
  color: white;
  font-size: 25px;
  font-weight: 600;
  /* outline: none; */
}

.prev-btn {
  /* background-color: red; */
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-blue);
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
